@use 'vars';

.wrapperContainer-dark2{
    background-color: vars.$backgroundColorDark2;
    color: vars.$colorTextLight ;

    .nossaEscola{
        display: flex;
        gap: 10rem;
        padding-top: 8rem;
        
        &__about{
           
            &__title{
                margin-top: 2rem;
            }
        }
    }

    @media (max-width:767px) {
        .nossaEscola{
            display: flex;
            flex-direction: column;
            padding-top: 4rem;

            &__about{
                order: 1;
            }

            img{
                width: 100%;
                order: 2;
            }
        }
    }

    @media (min-width: 768px) and (max-width:1024px) {
        .nossaEscola{
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
                order: 2;
            }

            &__about{
                order: 1;
            }

        }
    }

}